.footer-section {
  padding-top: 100px;
  background-color: #57606f;
  text-align: center;

  .footer-data {
    text-align: left;
    padding: 40px 0;
  }
}
.footer-copyright {
  background: #2f3542;
}

.page-footer {
  background-color: #57606f;
  color: white;
  a{
    color: white;
    text-decoration: none;
  }

}